$color-green: #028A0F;

$color_1: #cccccc;
$color_2: #777777;
$color_3: #c6ff00;
$color_4: #028A0F;
$color_5: #5fd400;
$color_6: #dd9d22;
$color_7: #e08833;

$background-color_1: #cccccc;
$background-color_2: #f5f5f5;
$background-color_3: #777777;
$background-color_4: #666666;

$border-color_1: #c6ff00;
$border-color_2: #028A0F;
$border-color_3: #5fd400;
$border-color_4: #dd9d22;
$border-color_5: #e08833;
$border-color_6: #307bbb;

$preloader-bg-color: #111;
$black-wall-bg-color: #222;
$loader-bg-color: #FFC41F;