@import "./_colors.scss";

.lh_logo {
    width: 100%;
    display: flex;
}

.lh_justify {
    text-align: justify;
    font-family: $font-eng, $font-km, sans-serif !important;
}

li > p {
    text-align: justify;
    font-family: $font-eng, $font-km, sans-serif !important;
}

.lh_no_after {
    &:after {
        display: none;
    }
}

.lh_no_padding {
    padding: 0 !important;
}

.typewriter-cursor {
  animation: blink 1s infinite;
  color: $color-green;
  font-weight: bold;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}