.lh_logo {
    width: 100%;
    display: flex;
}

.lh_justify {
    text-align: justify;
    font-family: $font-eng, $font-km, sans-serif !important;
}

.icon {
    background-color: #028A0F !important;
}

li > p {
    text-align: justify;
    font-family: $font-eng, $font-km, sans-serif !important;
}

.lh_no_after {
    &:after {
        display: none;
    }
}

.lh_no_padding {
    padding: 0 !important;
}