.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s;
}

.play-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
}