<app-header></app-header>
<!-- Page Title Starts -->
<section class="title-section text-left text-sm-center revealator-slideup revealator-once revealator-delay1">
    <h1>Terms of <span>Service</span></h1>
    <span class="title-bg">Terms</span>
</section>
<!-- Page Title Ends -->
<!-- Main Content Starts -->
<section class="main-content revealator-slideup revealator-once revealator-delay1">
    <div class="container">
        <div class="row">
            <!-- Article Starts -->
            <article class="col-12">
                <!-- Meta Starts -->
                <div class="meta">
                    <span><i class="fa fa-user"></i> Admin</span>
                    <span class="date"><i class="fa fa-calendar"></i> 9 September 2024</span>
                    <span><i class="fa fa-tags"></i> Terms, Service</span>
                </div>
                <!-- Meta Ends -->
                <!-- Article Content Starts -->
                <h1 class="text-uppercase text-capitalize">Terms of Service</h1>
                <div class="blog-excerpt pb-5">
                    <p>By using my website, you agree to use it responsibly and not engage in any illegal activities.</p>
                    <h2>Content Ownership</h2>
                    <p>All content on this website, including text and images, is my property. You may not use or reproduce it without permission.</p>
                    <h2>Limitations of Liability</h2>
                    <p>I am not responsible for any damages or losses resulting from your use of this website.</p>
                    <h2>Changes to These Terms</h2>
                    <p>I reserve the right to modify these terms at any time. You will be notified of any changes by an update to this page.</p>
                    <h2>Contact Information</h2>
                    <p>If you have any questions about these terms, please contact me at <a href="mailto:hengloem.pnc@gmail.com">hengloem.pnc&#64;gmail.com</a> or via <a href="https://t.me/+855962204505">Telegram: +855 96 2204 505</a>.</p>
                </div>
                <!-- Article Content Ends -->
            </article>
            <!-- Article Ends -->
        </div>
    </div>
</section>
