<div class="row">
    <div class="col-12">
        <h3 class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-left text-sm-center custom-title ft-wt-600">Skills</h3>
    </div>
    <div class="col-12" *ngFor="let item of lh_skillData">
        <h4 class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-left text-sm-center custom-title ft-wt-600">
            {{ item?.title }}
        </h4>

        <div class="row">
            <div class="col-6 col-md-3" *ngFor="let skill of item.skills">
                <div class="c100 p{{ skill.rate }}">
                    <span>{{ skill.rate }}%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <h6 class="text-uppercase text-center">{{ skill.title }}</h6>
            </div>
        </div>
    </div>
</div>