<div class="skills-container">
    <div class="skills-header">
        <h3 class="skills-title text-uppercase text-center">Skills</h3>
    </div>

    <mat-tab-group animationDuration="300ms" mat-align-tabs="center" class="skills-tabs">
        <mat-tab *ngFor="let item of lh_skillData" [label]="item.title">
            <div class="tab-content-wrapper">
                <div class="skills-flex-container">
                    <div class="skill-item" *ngFor="let skill of item.skills">
                        <div class="skill-circle-wrapper">
                            <div class="c100 p{{ skill.rate }}">
                                <span>{{ skill.rate }}%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                            <h6 class="skill-name text-uppercase text-center">{{ skill.title }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>