<div class="resume-box">
    <ul *ngFor="let item of lh_eduData;">
        <li>
            <!-- Icon Section -->
            <div class="icon">
                <i [class]="item?.icon"></i>
            </div>

            <!-- Details Section -->
            <div class="details">
                <span class="time text-uppercase">
                    {{ item?.startDate }} - {{ item?.endDate }} · {{ item?.studyType }}
                </span>
            </div>

            <!-- Educateion Title and Company -->
            <h5 class="text-uppercase">
                {{ item?.title }}
                <span class="place">{{ item?.company }}</span>
            </h5>

            <!-- Education Description -->
            <p [innerHTML]="item.description"></p>
        </li>
    </ul>
</div>