<app-header></app-header>
<!-- Page Title Starts -->
<section class="title-section text-left text-sm-center revealator-slideup revealator-once revealator-delay1">
    <h1>{{ 'about.title-1' | translate }} <span>{{ 'about.title-2' | translate }}</span></h1>
    <span class="title-bg">{{ 'about.resume' | translate }}</span>
</section>
<!-- Page Title Ends -->
<!-- Main Content Starts -->
<section class="main-content revealator-slideup revealator-once revealator-delay1">
    <div class="container">
        <div class="row">
            <!-- Personal Info Starts -->
            <div class="col-12 col-lg-5 col-xl-6">
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-uppercase custom-title mb-0 ft-wt-600 lh_no_padding">
                            {{ 'about.personal-information' | translate }}
                        </h3>
                    </div>
                    <div class="col-12 d-block d-sm-none">
                        <img src="/assets/img/photos/04_300_x_300.jpg" class="img-fluid main-img-mobile"
                            alt="my picture" loading="lazy" />
                    </div>

                    <div class="col-12 mt-3">
                        <p class="lh_justify">My name is LOEM Heng. I am {{ lh_AgeInYears }}. I am Cambodian.
                            I can speak two languages: Khmer (Native) and English. My father is a farmer, and my mother
                            is a housewife. I have five brothers and no sisters. I was born in Chi-Phat Village,
                            Chi-Phat Commune, Thmar Bang District, <a
                                href="https://en.wikipedia.org/wiki/Koh_Kong_province" target="_blank">Koh Kong
                                Province</a>, Cambodia.
                        </p>
                        <p class="lh_justify"> <span class="ft-wt-600">Discover My Hometown </span> - <a
                                href="https://en.wikipedia.org/wiki/Chi-Phat">Chi-Phat</a> is a
                            remarkable
                            community in the Cardamom Mountains, Southeast Asia’s largest mainland rainforest. Known
                            for
                            its emerald forests, estuaries, and mangroves, this region is a biodiversity hotspot and
                            home to rare wildlife, including wild elephants, Siamese crocodiles, and Royal Turtles.
                        </p>
                        <p class="lh_justify">Chi-Phat commune has four villages—Chi-Phat, Komlot, Chom-Sla, and T'k
                            La'o—with an estimated population of 3,000 (as of 2010). The residents primarily engage in
                            agriculture, fishing, and tourism. The community’s ecotourism project, supported by Wildlife
                            Alliance, has transformed Chi-Phat into a popular destination for both local and
                            international
                            visitors.</p>
                        <p class="lh_justify">If you’re looking for an escape into nature, Chi-Phat offers breathtaking
                            landscapes, exciting outdoor adventures, and a chance to connect with Cambodia’s rich
                            cultural
                            heritage. Whether you’re trekking through the jungle, kayaking in serene rivers, or enjoying
                            the
                            hospitality of the local community, Chi-Phat is an experience you’ll never forget.</p>
                    </div>
                </div>
            </div>
            <!-- Personal Info Ends -->

            <!-- Boxes Starts -->
            <div class="col-12 col-lg-7 col-xl-6 mt-5 mt-lg-0">
                <div class="row">
                    <div class="col-6">
                        <div class="box-stats with-margin">
                            <h3 class="position-relative">5</h3>
                            <p class="m-0 position-relative text-uppercase">Industries of <span
                                    class="d-block">experience</span></p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="box-stats with-margin">
                            <h3 class="position-relative">{{ lh_ExpInYears }}</h3>
                            <p class="m-0 position-relative text-uppercase">years of <span
                                    class="d-block">experience</span></p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="box-stats with-margin">
                            <h3 class="position-relative">20</h3>
                            <p class="m-0 position-relative text-uppercase">completed <span
                                    class="d-block">projects</span></p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="box-stats">
                            <h3 class="position-relative">20</h3>
                            <p class="m-0 position-relative text-uppercase">Happy<span class="d-block">customers</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="box-stats">
                            <h3 class="position-relative">15</h3>
                            <p class="m-0 position-relative text-uppercase">Licenses & <span
                                    class="d-block">certifications</span></p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="box-stats">
                            <h3 class="position-relative lh_no_after">
                                CV
                            </h3>

                            <a href="javascript:void(0)" (click)="click_preview_resume()">
                                <p class="m-0 position-relative text-uppercase">Download
                                    <span class="d-block">My CV</span>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Boxes Ends -->
        </div>

        <hr class="separator mt-1">
        
        <!-- Education Starts -->
        <div class="row">
            <div class="col-12">
                <h3 class="text-uppercase pb-5 mb-0 text-left text-sm-center custom-title ft-wt-600">
                    Experience & Education
                </h3>
            </div>
            <div class="col-lg-6 m-15px-tb">
                <div class="resume-box">
                    <ul *ngFor="let job of lh_fullTimeExp; let i = index;">
                        <li ngsReveal>
                            <!-- Icon Section -->
                            <div class="icon">
                                <img class="lh_logo" *ngIf="job?.icon" [src]="job?.icon" alt="{{ job?.title }}" />
                                <i *ngIf="!job?.icon" class="fa fa-briefcase"></i>
                            </div>

                            <!-- Job Title and Company -->
                            <h5 class="text-uppercase">
                                {{ job?.title }}
                                <span class="place">{{ job?.company }}</span>
                            </h5>

                            <!-- Details Section -->
                            <div class="lh_time_group">
                                <span class="time text-uppercase">
                                    {{ job?.startDate | date: 'MMM yyyy' }} -
                                    {{ job?.endDate === 'Present' ? 'Present' : (job?.endDate | date: 'MMM yyyy') }}
                                </span>

                                <span class="time text-uppercase">
                                    {{ calculateDuration(job.startDate, job.endDate) }}
                                </span>

                                <span class="time text-uppercase">
                                    {{ job?.workModel }}
                                </span>

                                <span class="time text-uppercase">
                                    {{ job?.type }}
                                </span>
                            </div>

                            <!-- Job Description -->
                            <p
                                [innerHTML]="isExpanded(getJobKey(job)) ? job.description : (job.description | ellipsis: 155)">
                            </p>

                            <div class="lh_ellipsis_text">
                                <a href="javascript:void(0)"
                                    (click)="toggleDescription(getJobKey(job)); $event.preventDefault()">
                                    {{ isExpanded(getJobKey(job)) ? 'Read less' : 'Read more' }}
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 m-15px-tb">
                <div class="resume-box">
                    <ul *ngFor="let item of lh_eduData; let x = index;">
                        <li ngsReveal>
                            <!-- Icon Section -->
                            <div class="icon">
                                <i [class]="item?.icon"></i>
                            </div>

                            <!-- Educateion Title and Company -->
                            <h5 class="text-uppercase">
                                {{ item?.title }}
                                <span class="place">{{ item?.company }}</span>
                            </h5>

                            <!-- Details Section -->
                            <div class="lh_time_group">
                                <span class="time text-uppercase">
                                    {{ item?.startDate }} - {{ item?.endDate }}
                                </span>

                                <span class="time text-uppercase">
                                    {{ item?.studyType }}
                                </span>
                            </div>

                            <!-- Education Description -->
                            <p
                                [innerHTML]="isExpanded(getJobKey(item)) ? item.description : (item.description | ellipsis: 155)">
                            </p>

                            <div class="lh_ellipsis_text">
                                <a href="javascript:void(0)"
                                    (click)="toggleDescription(getJobKey(item)); $event.preventDefault()">
                                    {{ isExpanded(getJobKey(item)) ? 'Read less' : 'Read more' }}
                                </a>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3 class="text-uppercase pb-5 mb-0 text-left text-sm-center custom-title ft-wt-600">
                    Other Experience
                </h3>
            </div>
            <div class="col-lg-6 m-15px-tb">
                <div class="resume-box">
                    <ul *ngFor="let job of lh_seasonalExp; let i = index;">
                        <li ngsReveal>
                            <!-- Icon Section -->
                            <div class="icon">
                                <img class="lh_logo" *ngIf="job?.icon" [src]="job?.icon" alt="{{ job?.title }}" />
                                <i *ngIf="!job?.icon" class="fa fa-briefcase"></i>
                            </div>

                            <!-- Job Title and Company -->
                            <h5 class="text-uppercase">
                                {{ job?.title }}
                                <span class="place">{{ job?.company }}</span>
                            </h5>

                            <!-- Details Section -->
                            <div class="lh_time_group">
                                <span class="time text-uppercase">
                                    {{ job?.startDate | date: 'MMM yyyy' }} -
                                    {{ job?.endDate === 'Present' ? 'Present' : (job?.endDate | date: 'MMM yyyy') }}
                                </span>

                                <span class="time text-uppercase">
                                    {{ calculateDuration(job.startDate, job.endDate) }}
                                </span>

                                <span class="time text-uppercase">
                                    {{ job?.workModel }}
                                </span>

                                <span class="time text-uppercase">
                                    {{ job?.type }}
                                </span>
                            </div>

                            <!-- Job Description -->
                            <p
                                [innerHTML]="isExpanded(getJobKey(job)) ? job.description : (job.description | ellipsis: 155)">
                            </p>

                            <div class="lh_ellipsis_text">
                                <a href="javascript:void(0)"
                                    (click)="toggleDescription(getJobKey(job)); $event.preventDefault()">
                                    {{ isExpanded(getJobKey(job)) ? 'Read less' : 'Read more' }}
                                </a>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6 m-15px-tb">
                <div class="resume-box">
                    <ul *ngFor="let job of lh_selfEmpExp; let i = index;">
                        <li ngsReveal>
                            <!-- Icon Section -->
                            <div class="icon">
                                <img class="lh_logo" *ngIf="job?.icon" [src]="job?.icon" alt="{{ job?.title }}" />
                                <i *ngIf="!job?.icon" class="fa fa-briefcase"></i>
                            </div>

                            <!-- Job Title and Company -->
                            <h5 class="text-uppercase">
                                {{ job?.title }}
                                <span class="place">{{ job?.company }}</span>
                            </h5>

                            <!-- Details Section -->
                            <div class="lh_time_group">
                                <span class="time text-uppercase">
                                    {{ job?.startDate | date: 'MMM yyyy' }} -
                                    {{ job?.endDate === 'Present' ? 'Present' : (job?.endDate | date: 'MMM yyyy') }}
                                </span>

                                <span class="time text-uppercase">
                                    {{ calculateDuration(job.startDate, job.endDate) }}
                                </span>

                                <span class="time text-uppercase">
                                    {{ job?.workModel }}
                                </span>

                                <span class="time text-uppercase">
                                    {{ job?.type }}
                                </span>
                            </div>

                            <!-- Job Description -->
                            <p
                                [innerHTML]="isExpanded(getJobKey(job)) ? job.description : (job.description | ellipsis: 155)">
                            </p>

                            <div class="lh_ellipsis_text">
                                <a href="javascript:void(0)"
                                    (click)="toggleDescription(getJobKey(job)); $event.preventDefault()">
                                    {{ isExpanded(getJobKey(job)) ? 'Read less' : 'Read more' }}
                                </a>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Education Ends -->
        <hr class="separator mt-1">
        <!-- Skills Starts -->
        <div class="row">
            <div class="col-12">
                <h3 class="text-uppercase pb-5 mb-0 text-left text-sm-center custom-title ft-wt-600">
                    Hard & Soft Skills
                </h3>
            </div>
            
            <div class="col-lg-12 m-15px-tb">
                <app-skill></app-skill>
            </div>
        </div>
    </div>
</section>
<!-- Main Content Ends -->