.lh_time_group {
    display: flex;
    gap: 0.5rem;
}

.lh_icon_group {
    width: 100%;
    display: inline-flex;
    align-items: center;

    h5 {
        margin: 0 auto;
    }
}

.lh_ellipsis_text {
    display: flex;
    justify-content: flex-end;

    a {
        font-size: 14px;
        padding: 3px;
        border-radius: 15px;
        width: 90px;
        display: flex;
        justify-content: center;
    }

    a:hover {
        background-color: oklab(0 none none/.05);
    }
}
