<app-header></app-header>
<!-- Page Title Starts -->
<section class="title-section text-left text-sm-center revealator-slideup revealator-once revealator-delay1">
    <h1>{{ 'about.title-1' | translate }} <span>{{ 'about.title-2' | translate }}</span></h1>
    <span class="title-bg">{{ 'about.resume' | translate }}</span>
</section>
<!-- Page Title Ends -->
<!-- Main Content Starts -->
<section class="main-content revealator-slideup revealator-once revealator-delay1">
    <div class="container">
        <div class="row">
            <!-- Personal Info Starts -->
            <div class="col-12 col-lg-5 col-xl-6">
                <div class="row">
                    <div class="col-12">
                        <h3 class="text-uppercase custom-title mb-0 ft-wt-600">
                            {{ 'about.personal-information' | translate }}
                        </h3>
                    </div>
                    <div class="col-12 d-block d-sm-none">
                        <img src="/assets/img/photos/04_300_x_300.jpg" class="img-fluid main-img-mobile"
                            alt="my picture" loading="lazy" />
                    </div>

                    <div class="col-12 mt-3">
                        <p>Background</p>
                        <p class="lh_justify">My name is LOEM Heng. I am {{ lh_AgeInYears }}. I am Cambodian.
                            I can speak two languages: Khmer (Native) and English. My father is a farmer, and my mother
                            is a housewife. I have five brothers and no sisters. I was born in Chi-Phat Village,
                            Chi-Phat
                            commune, Thmar Bang district, Koh Kong province, Cambodia. Chi-Phat is a remarkable
                            community in the Cardamom Mountains, Southeast Asia’s largest mainland rainforest. Known for
                            its emerald forests, estuaries, and mangroves, this region is a biodiversity hotspot and
                            home to rare wildlife, including wild elephants, Siamese crocodiles, and Royal Turtles.</p>

                        <p>Discover My Hometwon</p>
                        <p class="lh_justify">The Chi-Phat commune has four villages—Chi-Phat, Komlot, Chom-Sla, and T'k
                            La'o—with an estimated population of 3,000 (as of 2010). The residents primarily engage in
                            agriculture, fishing, and tourism. The community’s ecotourism project, supported by Wildlife
                            Alliance, has transformed Chi-Phat into a popular destination for both local and
                            international
                            visitors.</p>
                        <p class="lh_justify">If you’re looking for an escape into nature, Chi-Phat offers breathtaking
                            landscapes, exciting outdoor adventures, and a chance to connect with Cambodia’s rich
                            cultural
                            heritage. Whether you’re trekking through the jungle, kayaking in serene rivers, or enjoying
                            the
                            hospitality of the local community, Chi-Phat is an experience you’ll never forget.</p>
                    </div>
                </div>
            </div>
            <!-- Personal Info Ends -->

            <!-- Boxes Starts -->
            <div class="col-12 col-lg-7 col-xl-6 mt-5 mt-lg-0">
                <div class="row">
                    <div class="col-6">
                        <div class="box-stats with-margin">
                            <h3 class="position-relative">{{ lh_ExpInYears }}</h3>
                            <p class="m-0 position-relative text-uppercase">years of <span
                                    class="d-block">experience</span></p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="box-stats with-margin">
                            <h3 class="position-relative">20</h3>
                            <p class="m-0 position-relative text-uppercase">completed <span
                                    class="d-block">projects</span></p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="box-stats">
                            <h3 class="position-relative">20</h3>
                            <p class="m-0 position-relative text-uppercase">Happy<span class="d-block">customers</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="box-stats">
                            <h3 class="position-relative">15</h3>
                            <p class="m-0 position-relative text-uppercase">Licenses & <span
                                    class="d-block">certifications</span></p>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <p>I am delighted to collaborate with you. If you wish to discuss a project, seek consultancy,
                            or need assistance in any related field where I can contribute, please feel free to contact
                            me through my website. For more details about my experience and expertise, you can download
                            my CV using the link below.</p>
                        <p class="lh_justify"></p>
                        <a class="button" href="#">
                            <span class="button-text">Download CV</span>
                            <span class="button-icon fa fa-download"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Boxes Ends -->
        </div>

        <hr class="separator mt-1">
        <!-- Education Starts -->
        <div class="row">
            <div class="col-12">
                <h3 class="text-uppercase pb-5 mb-0 text-left text-sm-center custom-title ft-wt-600"> Experience &
                    Education</h3>
            </div>
            <div class="col-lg-6 m-15px-tb">
                <app-experience></app-experience>
            </div>

            <div class="col-lg-6 m-15px-tb">
                <app-education></app-education>
            </div>
        </div>
        <!-- Education Ends -->
        <hr class="separator mt-1">
        <!-- Skills Starts -->
        <app-skill></app-skill>
        <!-- Skills Ends -->
    </div>
</section>
<!-- Main Content Ends -->