<app-header></app-header>

<section class="container-fluid main-container container-home p-0 revealator-slideup revealator-once revealator-delay1">
    <div class="color-block d-none d-lg-block"></div>
    <div class="row home-details-container align-items-center">
        <div class="col-lg-4 bg position-fixed d-none d-lg-block"></div>
        <div class="col-12 col-lg-8 offset-lg-4 home-details text-left text-lg-start text-sm-center">
            <div>
                <img src="./assets/img/photos/04_300_x_300.jpg"
                    class="img-fluid main-img-mobile d-none d-sm-block d-lg-none" alt="my picture" />
                <h1 class="text-uppercase oppins-fonpt"> {{ 'home.i-am-heng' | translate }}
                    <span>{{ 'home.position' | translate }}</span>
                </h1>
                <p class="lh_justify">I began my professional journey in IT in 2017, building a solid foundation in web development, design, data analysis, security, and algorithms. I bring a fast-paced collaborative spirit to teamwork, excel in problem-solving, and maintain a well-organized, detail-oriented approach to every task. In my free time, I enjoy exploring emerging technologies and participating in local workshops to stay ahead in the ever-evolving tech landscape.</p>
                <p class="lh_justify">With a passion for crafting exceptional websites, I transform simple concepts into outstanding platforms that are both responsive and feature-rich. My commitment to delivering high-quality work consistently earns the trust and satisfaction of clients. Whether working collaboratively within a team or independently, I am dedicated to producing results that surpass expectations.</p>
                <p class="lh_justify">I deeply value fostering long-term partnerships and surrounding myself with driven, supportive individuals who inspire growth and excellence. My goal is to continue delivering top-tier web development services while building meaningful connections with like-minded professionals who share a vision for innovation and quality.</p>
                <a class="button" href="/about">
                    <span class="button-text">{{ 'home.learn-more' | translate }}</span>
                    <span class="button-icon fa fa-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
</section>