<div class="resume-box">
    <ul>
        <li>
            <div class="icon">
                <i class="fa fa-briefcase"></i>
            </div>
            <span class="time text-uppercase">2022 - Present</span>
            <h5 class="text-uppercase">System Development Supervisor <span class="place">Fortune Life Insurance
                    PLC</span></h5>
            <p class="">N/A</p>
        </li>
        <li>
            <div class="icon">
                <i class="fa fa-briefcase"></i>
            </div>
            <span class="time text-uppercase">2018 - 2019</span>
            <h5 class="text-uppercase">Senior Web Developer <span class="place">HRINC (Cambodia) Co., Ltd</span></h5>
            <p class="">N/A</p>
        </li>
        <li>
            <div class="icon">
                <i class="fa fa-briefcase"></i>
            </div>
            <span class="time text-uppercase">2018 - 2019</span>
            <h5 class="text-uppercase">Junior Web Developer <span class="place">Web Essentials PLC</span></h5>
            <p class="">N/A</p>
        </li>
        <li>
            <div class="icon">
                <i class="fa fa-briefcase"></i>
            </div>
            <span class="time text-uppercase">2010 - 2013</span>
            <h5 class="text-uppercase">IT Officer <span class="place">Sahaka Microfinance Institution PLC</span></h5>
            <p class="">N/A</p>
        </li>
        <li>
            <div class="icon">
                <i class="fa fa-briefcase"></i>
            </div>
            <span class="time text-uppercase">June - September 2017</span>
            <h5 class="text-uppercase">Web Developer Intern <span class="place">Sahaka Microfinance Institution
                    PLC</span></h5>
            <p>N/A</p>
        </li>
        <li>
            <div class="icon">
                <i class="fa fa-briefcase"></i>
            </div>
            <span class="time text-uppercase">June 2017 - September 2017 (4 months)</span>
            <h5 class="text-uppercase">Internship <span class="place">Sahaka Microfinance Institution PLC</span></h5>
            <p>
                - Restructured network cables to improve organization and maintain a clean server room.<br>
                - Connected rack servers to switches using RJ45 cables and configured the server room for optimal
                performance.<br>
                - Prepared network, phone line, camera, and door access cables for deployment.<br>
                - Conducted line testing procedures and labeled RJ45, phone line, camera, and door access cables
                accurately.<br>
                - Installed cameras, established network connections, and configured door access systems.
            </p>
        </li>
        <li>
            <div class="icon">
                <!-- <img src="./assets/img/photos/04_300_x_300.jpg" alt="Sahaka Microfinance Institution PLC Logo" style="width: 50px; height: auto;"> -->
                <i class="fa fa-briefcase"></i>
            </div>

            <h5 class="text-uppercase">IT Officer <span class="place">Sahaka Microfinance Institution PLC</span></h5>
            <span class="time text-uppercase">Full-time · September 2017 - August 2018 (1 year)</span> <br>
            <span class="time text-uppercase">Chamkar Mon, Phnom Penh, Cambodia · On-site</span>
            <p>
                - Participated in development using the CodeIgniter framework and MySQL Server 2012.<br>
                - Executed system analysis, formulated system workflows, and managed the database.<br>
                - Orchestrated meetings, conducted project showcases, documented meeting minutes, and created
                comprehensive project documentation.<br>
                - Provided direct reports to the IT manager.
            </p>
            <!-- <strong>Skills:</strong> HTML5 · CSS · JavaScript · PHP · Data Analysis · SQL Server 2012 · Algorithms · Object-Oriented Programming (OOP) -->
        </li>
        <li>
            <h5 class="text-uppercase">Web Developer Internship <span class="place">Sahaka Microfinance Institution
                    PLC</span></h5>
            <span class="time text-uppercase">June 2017 - September 2017 (4 months)</span>
            <p>
                - Restructured network cables to improve organization and maintain a clean server room.<br>
                - Established connections between rack servers and switches using RJ45 cables and configured the server
                room.<br>
                - Prepared network, phone line, camera, and door access cables for deployment.<br>
                - Conducted line testing procedures and labeled RJ45, phone line, camera, and door access cables
                accurately.<br>
                - Installed cameras, established network connections, and configured door access systems.
            </p>
            <!-- <strong>Skills:</strong> HTML5 · CSS · JavaScript · Bootstrap · PHP · SQL Server 2012 · Algorithms · Problem Solving · Object-Oriented Programming (OOP) -->
        </li>
    </ul>
</div>