<div class="resume-box">
    <ul *ngFor="let item of lh_expData;">
        <li>
            <!-- Icon Section -->
            <div class="icon">
                <img class="lh_logo" *ngIf="item?.icon" [src]="item?.icon" alt="{{ item?.title }}" />
                <i *ngIf="!item?.icon" class="fa fa-briefcase"></i>
            </div>

            <!-- Details Section -->
            <div class="details">
                <span class="time text-uppercase">
                    {{ item?.startDate | date: 'MMM yyyy' }} -
                    {{ item?.endDate === 'Present' ? 'Present' : (item?.endDate | date: 'MMM yyyy') }}
                    ·
                    {{ calculateDuration(item.startDate, item.endDate) }}
                </span>
            </div>

            <div class="details">
                <span class="time text-uppercase">
                    {{ item?.employmentType }} ·
                    {{ item?.workModel }} ·
                    {{ item?.location }}
                </span>
            </div>

            <!-- Job Title and Company -->
            <h5 class="text-uppercase">
                {{ item?.title }}
                <span class="place">{{ item?.company }}</span>
            </h5>

            <!-- Job Description -->
            <p>{{ item.description }}</p>
        </li>
    </ul>
</div>