<div class="resume-box">
    <ul>
        <li>
            <div class="icon">
                <i class="fa fa-briefcase"></i>
            </div>
            <span class="time text-uppercase">2022 - Present</span>
            <h5 class="text-uppercase">System Development Supervisor <span class="place">Fortune Life
                    Insurance PLC</span></h5>
            <p class="">N/A</p>
        </li>
        <li>
            <div class="icon">
                <i class="fa fa-briefcase"></i>
            </div>
            <span class="time text-uppercase">2018 - 2019</span>
            <h5 class="text-uppercase">Senior Web Developer <span class="place">HRINC (Cambodia) Co.,
                    Ltd</span></h5>
            <p class="">N/A</p>
        </li>
        <li>
            <div class="icon">
                <i class="fa fa-briefcase"></i>
            </div>
            <span class="time text-uppercase">2018 - 2019</span>
            <h5 class="text-uppercase">Junior Web Developer <span class="place">Web Essentials
                    PLC</span></h5>
            <p class="">N/A</p>
        </li>
        <li>
            <div class="icon">
                <i class="fa fa-briefcase"></i>
            </div>
            <span class="time text-uppercase">20 - 2013</span>
            <h5 class="text-uppercase">IT Officer <span class="place">Sahaka Microfinance Institution
                    PLC</span></h5>
            <p class="">N/A</p>
        </li>
        <li>
            <div class="icon">
                <i class="fa fa-briefcase"></i>
            </div>
            <span class="time text-uppercase">June - Sep 2017</span>
            <h5 class="text-uppercase">Web Developer Intern <span class="place">Sahaka Microfinance
                    Institution PLC</span></h5>
            <ul>
                <li>Restructured network cables to enhance organization and maintain a tidy server room.</li>
                <li>Established connections between rack servers and switches by connecting RJ45 cables and configuring
                    the server room.</li>
                <li>Readied network, phone line, camera, and door access cables for deployment.</li>
                <li>Executed line testing procedures and appropriately labelled RJ45, phone line, camera, and door
                    access
                    cables.</li>
                <li>Installed cameras, established network connections, and configured door access systems.</li>
            </ul>
        </li>

    </ul>
</div>